<template>
    <div class="loading">
        <img src="../../../public/static/res/svg/loading.svg" alt="loading">
    </div>
</template>

<script lang="ts">
    import {Component, Vue} from "vue-property-decorator";

    @Component({
        name: "loading",
        components: {}
    })
    export default class Loading extends Vue {

    }
</script>

<style scoped>
    .loading {
        position: absolute;
        width: 38px;
        height: 38px;
    }

    .loading img {
        width: 100%;
        height: auto;
    }
</style>
