.registration {
    color: white;
    margin-left: 30px;
}

.reg-group {
    width: 45%;
    margin-left: 3px;
}

.reg-group, .reg-policy {
    width: 45%;
}

.reg-right-group {
    margin-left: 25px;
}

.reg-input {
    width: 80%;
    float: right;
    height: 40px;
}

.reg-policy {
    height: 200px;
    color: black;
    font-size: 13px;
    overflow-y: auto;
    background: white;
    border: 1px solid blue;
}

.reg-privacy-check, .reg-create-btn {
    margin-top: 5px;
}

.reg-privacy-check {
    margin-right: 54%;
    text-align: right;
}

.reg-create-btn {
    width: 130px;
    margin-left: 30%;
}

.reg-input-feedback {
    position: fixed;
    margin-top: 39px;
    width: 25%;
    font-size: 12px;
}

.form-row {
    height: 59px;
}

.reg-loading {
    top: 536px;
    left: 677px;
}

.reg-slide-fade-enter-active {
    transition: all .3s ease;
}

.reg-slide-fade-enter {
    transform: translateX(-20px);
    opacity: 0;
}
