<template>
    <div id="dropdown-menu">
        Menu
    </div>
</template>

<script lang="ts">
    import {Component, Vue} from "vue-property-decorator";

    @Component({
        name: "dropdown-menu",
        components: {}
    })
    export default class DropdownMenu extends Vue {

    }
</script>

<style scoped>
    #dropdown-menu {

    }
</style>
