<template>
    <div id="menu-navigation-panel">
        <dropdown-menu class="menu-navigation-panel__menu"/>
    </div>
</template>

<script lang="ts">
    import {Component, Vue} from "vue-property-decorator";
    import DropdownMenu from "./element/DropdownMenu.vue";

    @Component({
        name: "menu-navigation-panel",
        components: {
            DropdownMenu
        }
    })
    export default class MenuNavigationPanel extends Vue {

    }
</script>

<style scoped>
    #menu-navigation-panel {
        float: right;
        font-size: 18px;
        color: white;
    }

    .menu-navigation-panel__menu {
        width: 130px;
        display: inline-block;
        vertical-align: baseline;
        text-align: center;
        border: blue 2px solid;
    }
</style>
