<template>
    <div class="check-registration">
        <transition
                @after-leave="_onContentDestroyed"
                name="creg-anim"
        >
            <div v-if="$data._showCheckRegistration">
                <div class="creg-content">
                    <div class="creg-title-msg">
                        {{ $data._titleMessage }}
                    </div>
                    <div>
                        {{ $data._descriptionMessage }}
                    </div>
                </div>
                <div ref="redirectAnimation"
                     v-if="_isCounterAvailable()"
                     class="creg-redirect-anim creg-anim-count"
                >
                    {{ $data._redirectCount }}
                </div>
                <div v-if="$data._redirectCount > 0 && _isCounterAvailable()" class="creg-seconds">
                    seconds
                </div>
                <div class="creg-control">
                    <b-button @click="_onBackButtonClicked"
                              :disabled="_isLoadingActive()"
                              class="creg-back-btn"
                              type="button"
                              variant="dark"
                    >
                        Go to Main
                    </b-button>
                    <b-button v-if="$data._showAgainButton"
                              @click="_onAgainButtonClicked"
                              :disabled="_isLoadingActive()"
                              class="creg-again-btn"
                              type="button"
                              variant="dark"
                    >
                        Send Again
                    </b-button>
                </div>
                <transition name="auth-loading-img-anim">
                    <loading v-if="_isLoadingActive()"
                             class="creg-loading"
                    />
                </transition>
            </div>
        </transition>
    </div>
</template>

<script lang="ts">
    import {Component, Prop, Vue} from "vue-property-decorator";
    import {CONFLICT, NOT_ACCEPTABLE} from "http-status-codes";
    import Loading from "../../loading/Loading.vue";
    import {storeDispatchEvents} from "../../../constants/StoreDispatchEvents";

    @Component({
        name: "check-registration",
        components: {
            Loading
        }
    })
    export default class CheckRegistration extends Vue {
        @Prop(Number) readonly responseCode!: number;
        @Prop(String) readonly previousToken!: string;

        private _showCheckRegistration: boolean = true;
        private _redirectCount: number | string = 5;
        private _showAgainButton: boolean = false;
        private _alreadyConfirmed: boolean = false;
        private _titleMessage!: string;
        private _descriptionMessage!: string;

        private mounted(): void {
            if (this.$props.responseCode && this.$props.responseCode == NOT_ACCEPTABLE) {
                this.$data._showAgainButton = true;
                // todo: make localization
                this.$data._titleMessage = "Sorry!";
                this.$data._descriptionMessage = "Your token has been expired!";
            } else if (this.$props.responseCode && this.$props.responseCode == CONFLICT) {
                this.$data._alreadyConfirmed = true;
                // todo: make localization
                this.$data._titleMessage = "Hey, hey!";
                this.$data._descriptionMessage = "Your email has been already confirmed!";
            } else {
                // todo: make localization
                this.$data._titleMessage = "Your email has confirmed!";
                this.$data._descriptionMessage = "You will redirect to main page in";
                this.$forceUpdate();
                this._doRedirectAnimation();
            }
        }

        private _doRedirectAnimation(): void {
            let animation: any = this.$refs.redirectAnimation;
            animation.addEventListener("animationend", () => {
                if (this.$data._redirectCount > 1) {
                    animation.style.animation = "none";
                    animation.offsetHeight;
                    animation.style.animation = null;
                    this.$data._redirectCount--;
                } else {
                    this.$data._redirectCount = "";
                    this.$data._showCheckRegistration = false;
                }
            });
        }

        private _onBackButtonClicked(): void {
            this.$data._showCheckRegistration = false;
        }

        private _onAgainButtonClicked(): void {
            if (this.$props.previousToken) {
                this.$store.dispatch(storeDispatchEvents.RECREATE_TOKEN, {previousToken: this.$props.previousToken}).then((): void => {
                    // todo: make localization
                    this.$data._titleMessage = "Please follow instructions in email!";
                    this.$data._descriptionMessage = "New token has sent to your email!";
                    this.$data._showAgainButton = false;
                    // to prevent trigger for counter
                    this.$data._alreadyConfirmed = true;
                });
            }
        }

        private _onContentDestroyed(): void {
            this.$store.commit("enableConfirmationPage", false);
            this.$router.replace({name: "game"});
        }

        private _isLoadingActive(): boolean {
            return this.$store.getters.isLoading;
        }

        private _isCounterAvailable(): boolean {
            return !this.$data._showAgainButton && !this.$data._alreadyConfirmed;
        }
    }
</script>

<style scoped lang="css">
    @import "../../../../public/static/css/module/authentication/component/registration.module.css";

    .check-registration {
        position: absolute;
        top: 55%;
        left: 40%;
        transform: translate(-30%, -300px);
        min-width: 700px;
        user-select: none;
        color: white;
        text-align: center;
    }

    .creg-title-msg {
        font-size: 30px;
    }

    .creg-content {
        font-size: 20px;
        margin-bottom: 40px;
    }

    .creg-seconds {
        position: absolute;
        margin-top: 50px;
        left: 282px;
        top: 170px;
        width: 140px;
    }

    .creg-control {
        margin-top: 200px;
    }

    .creg-back-btn, .creg-again-btn {
        width: 145px;
    }

    .creg-again-btn {
        margin-left: 140px;
    }

    .creg-loading {
        top: 275px;
        left: 475px;
    }

    .creg-redirect-anim {
        position: absolute;
        margin-top: 30px;
        left: 49%;
        font-size: 30px;
        min-height: 40px;
    }

    .creg-anim-count {
        -webkit-animation-name: creg-effect-count;
        animation-name: creg-effect-count;
        background-repeat: no-repeat;
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
    }

    .creg-anim-leave-active {
        transition: opacity .2s;
    }

    .creg-anim-leave-to {
        opacity: 0;
    }

    @-webkit-keyframes creg-effect-count {
        0% {
            -webkit-transform: scale(0.4);
        }
        15% {
            -webkit-transform: scale(0.6);
        }
        30% {
            -webkit-transform: scale(0.8);
        }
        45% {
            -webkit-transform: scale(1);
        }
        60% {
            -webkit-transform: scale(1.2);
        }
        75% {
            -webkit-transform: scale(1.4);
        }
        90%, 100% {
            -webkit-transform: scale(1.6);
        }
    }

    @keyframes creg-effect-count {
        0% {
            -webkit-transform: scale(0.4);
        }
        15% {
            -webkit-transform: scale(0.6);
        }
        30% {
            -webkit-transform: scale(0.8);
        }
        45% {
            -webkit-transform: scale(1);
        }
        60% {
            -webkit-transform: scale(1.2);
        }
        75% {
            -webkit-transform: scale(1.4);
        }
        90%, 100% {
            -webkit-transform: scale(1.6);
        }
    }
</style>
