<template>
    <div id="email-confirmation">
        Please follow instructions in email!
    </div>
</template>

<script lang="ts">
    import {Component, Vue} from "vue-property-decorator";

    @Component({
        name: "email-confirmation"
    })
    export default class EmailConfirmation extends Vue {

    }
</script>

<style scoped>
    #email-confirmation {
        color: white;
    }
</style>
