<template>
    <div class="login-menu">
        <div>
            <b-button
                    @click="_onLoginButtonClicked"
                    :disabled="_isLoadingActive()"
                    class="log-menu-buttons login-button"
                    type="button"
                    variant="dark"
            >
                Login
            </b-button>
        </div>
        <div>
            <b-button
                    @click="_onRegistrationButtonClicked"
                    :disabled="_isLoadingActive()"
                    class="log-menu-buttons reg-button"
                    type="button"
                    variant="dark"
            >
                Registration
            </b-button>
        </div>
    </div>
</template>

<script type="ts">
    import {Component, Prop, Vue} from "vue-property-decorator";

    @Component({
        name: "login-menu"
    })
    export default class LoginMenu extends Vue {
        @Prop(Function) readonly onLogOptionClicked!: () => void;
        @Prop(Function) readonly onRegOptionClicked!: () => void;

        private _onLoginButtonClicked(): void {
            if (this.$props.onLogOptionClicked) {
                this.$props.onLogOptionClicked.call([]);
            }
        }

        private _onRegistrationButtonClicked(): void {
            if (this.$props.onRegOptionClicked) {
                this.$props.onRegOptionClicked.call([]);
            }
        }

        private _isLoadingActive(): boolean {
            return this.$store.getters.isLoading;
        }
    }
</script>

<style scoped>
    .log-menu-buttons {
        width: 100%;
        height: 137px;
        margin-bottom: 8px;
    }
</style>
