<template>
    <div class="login">
        <b-form
                @submit.prevent="_onLoginButtonClicked"
                autocomplete="off"
        >
            <b-form-input
                    :disabled="_isLoadingActive()"
                    v-model="userDto.login"
                    :state="!$data._errorInput ? null : _errorState()"
                    class="log-login-input log-input"
                    aria-describedby="login-feedback"
                    type="text"
                    size="sm"
                    placeholder="Login"
                    required
            />
            <b-form-input
                    :disabled="_isLoadingActive()"
                    v-model="userDto.password"
                    :state="!$data._errorInput ? null : _errorState()"
                    class="log-pwd-input log-input"
                    aria-describedby="login-feedback"
                    type="password"
                    size="sm"
                    placeholder="Password"
                    required
            />
            <b-form-invalid-feedback id="login-feedback">
                {{ $data._loginFeedback }}
            </b-form-invalid-feedback>
            <transition name="auth-loading-btn-anim">
                <b-button v-if="!_isLoadingActive()"
                          class="login-button"
                          type="submit"
                          variant="dark"
                >
                    Login
                </b-button>
            </transition>
        </b-form>
        <transition name="auth-loading-img-anim">
            <loading v-if="_isLoadingActive()"
                     class="login-loading"
            />
        </transition>
    </div>
</template>

<script type="ts">
    import {Component, Prop, Vue} from "vue-property-decorator";
    import {NOT_ACCEPTABLE} from "http-status-codes";
    import Loading from "../../loading/Loading.vue";
    import {storeDispatchEvents} from "../../../constants/StoreDispatchEvents";

    @Component({
        name: "login",
        data: function () {
            return {
                userDto: {
                    login: "",
                    password: ""
                }
            };
        },
        components: {
            Loading
        }
    })
    export default class Login extends Vue {
        @Prop(Function) readonly onLoginClicked!: (confirmation: boolean) => void;

        private _errorInput: boolean = false;
        private _wrongCredentials: object = {login: "", password: ""};

        // todo: make localization
        private _loginFeedback: string = "Incorrect username or password";

        private _errorState(): boolean {
            if (this.$data._wrongCredentials.login !== this.$data.userDto.login || this.$data._wrongCredentials.password !== this.$data.userDto.password) {
                this.$data._errorInput = false;
            }
            return false;
        }

        private _onLoginButtonClicked(): void {
            this.$store.dispatch(storeDispatchEvents.USER_SIGN_IN, {
                username: this.$data.userDto.login,
                password: this.$data.userDto.password
            }).then(() => {
                if (this.$props.onLoginClicked) {
                    this.$props.onLoginClicked.call(this, false);
                }
            }).catch((error) => {
                if (error.status == NOT_ACCEPTABLE) {
                    if (this.$props.onLoginClicked) {
                        this.$props.onLoginClicked.call(this, true);
                    }
                } else {
                    this.$data._errorInput = true;
                    this.$data._wrongCredentials.login = this.$data.userDto.login;
                    this.$data._wrongCredentials.password = this.$data.userDto.password;
                }
            });
        }

        private _isLoadingActive(): boolean {
            return this.$store.getters.isLoading;
        }
    }
</script>

<style scoped>
    .login {
        color: white;
        float: left;
        margin-left: 40px;
        margin-top: 30px;
        height: 180px;
    }

    #login-feedback {
        position: absolute;
        margin-top: -120px;
        width: 350px;
        font-size: 12px;
    }

    .log-login-input {
        margin-top: 25px;
    }

    .log-pwd-input, .login-button {
        margin-top: 17px;
    }

    .login-button {
        width: 110px;
    }

    .log-input {
        width: 230px;
        height: 40px;
    }

    .login-loading {
        top: 170px;
        left: 415px;
    }
</style>
