<template>
    <div class="registration">
        <b-form
                @submit.prevent="_createUser"
                autocomplete="off"
        >
            <b-form-row>
                <b-form-group
                        class="reg-group"
                        aria-describedby="reg-login-feedback"
                        label-cols="4"
                        label-cols-lg="4"
                        label="Login:"
                        label-for="reg-login-input"
                >
                    <b-form-input
                            id="reg-login-input"
                            v-model="$v.userDto.login.$model"
                            :state="!$v.userDto.login.$model ? null : !$v.userDto.login.$invalid"
                            @blur="_checkUserExists"
                            class="reg-input"
                            type="text"
                            size="sm"
                            required
                    />
                    <b-form-invalid-feedback id="reg-login-feedback" ref="loginFeedbackContent"
                                             v-bind:class="{ 'auth-anim-shake': $data._errorOutputChecked }"
                                             class="reg-input-feedback"
                    >
                        {{ $data._loginFeedback }}
                    </b-form-invalid-feedback>
                </b-form-group>
            </b-form-row>
            <b-form-row>
                <b-form-group
                        class="reg-group"
                        aria-describedby="reg-fname-feedback"
                        label-cols="4"
                        label-cols-lg="4"
                        label="First Name:"
                        label-for="reg-fname-input"
                >
                    <b-form-input
                            id="reg-fname-input"
                            v-model="$v.userDto.firstName.$model"
                            :state="!$v.userDto.firstName.$model ? null : !$v.userDto.firstName.$invalid"
                            class="reg-input"
                            type="text"
                            size="sm"
                            required
                    />
                    <b-form-invalid-feedback id="reg-fname-feedback" ref="fnameFeedbackContent"
                                             v-bind:class="{ 'auth-anim-shake': $data._errorOutputChecked }"
                                             class="reg-input-feedback"
                    >
                        {{ $data._firstNameFeedback }}
                    </b-form-invalid-feedback>
                </b-form-group>
                <transition name="reg-slide-fade">
                    <b-form-group
                            v-if="$data._showLastNameInput"
                            class="reg-group reg-right-group"
                            aria-describedby="reg-lname-feedback"
                            label-cols="4"
                            label-cols-lg="4"
                            label="Last Name:"
                            label-for="reg-lname-input"
                    >
                        <b-form-input
                                id="reg-lname-input"
                                v-model="$v.userDto.lastName.$model"
                                :state="!$v.userDto.lastName.$model ? null : !$v.userDto.lastName.$invalid"
                                class="reg-input"
                                type="text"
                                size="sm"
                        />
                        <b-form-invalid-feedback id="reg-lname-feedback" ref="lnameFeedbackContent"
                                                 v-bind:class="{ 'auth-anim-shake': $data._errorOutputChecked }"
                                                 class="reg-input-feedback"
                        >
                            {{ $data._lastNameFeedback }}
                        </b-form-invalid-feedback>
                    </b-form-group>
                </transition>
            </b-form-row>
            <b-form-row>
                <b-form-group
                        class="reg-group"
                        label-cols="4"
                        label-cols-lg="4"
                        label="Country:"
                        label-for="reg-country-input"
                >
                    <b-form-select
                            id="reg-country-input"
                            v-model="userDto.country"
                            :state="_checkCountry()"
                            :options="_getCountriesAsOptions()"
                            class="reg-input"
                            size="sm"
                            required
                    />
                </b-form-group>
                <transition name="reg-slide-fade">
                    <b-form-group
                            v-if="$data._showCityInput"
                            class="reg-group reg-right-group"
                            aria-describedby="reg-city-feedback"
                            label-cols="4"
                            label-cols-lg="4"
                            label="City:"
                            label-for="reg-city-input"
                    >
                        <b-form-input
                                id="reg-city-input"
                                v-model="$v.userDto.city.$model"
                                :state="!$v.userDto.city.$model ? null : !$v.userDto.city.$invalid"
                                class="reg-input"
                                type="text"
                                size="sm"
                        />
                        <b-form-invalid-feedback id="reg-city-feedback" ref="cityFeedbackContent"
                                                 v-bind:class="{ 'auth-anim-shake': $data._errorOutputChecked }"
                                                 class="reg-input-feedback"
                        >
                            {{ $data._cityFeedback }}
                        </b-form-invalid-feedback>
                    </b-form-group>
                </transition>
            </b-form-row>
            <b-form-row>
                <b-form-group
                        class="reg-group"
                        aria-describedby="reg-email-feedback"
                        label-cols="4"
                        label-cols-lg="4"
                        label="Email:"
                        label-for="reg-email-input"
                >
                    <b-form-input
                            id="reg-email-input"
                            v-model="$v.userDto.email.$model"
                            :state="!$v.userDto.email.$model ? null : !$v.userDto.email.$invalid"
                            class="reg-input"
                            type="email"
                            size="sm"
                            required
                    />
                    <b-form-invalid-feedback id="reg-email-feedback" ref="emailFeedbackContent"
                                             v-bind:class="{ 'auth-anim-shake': $data._errorOutputChecked }"
                                             class="reg-input-feedback"
                    >
                        {{ $data._emailFeedback }}
                    </b-form-invalid-feedback>
                </b-form-group>
            </b-form-row>
            <b-form-row>
                <b-form-group
                        class="reg-group"
                        aria-describedby="reg-pwd-feedback"
                        label-cols="4"
                        label-cols-lg="4"
                        label="Password:"
                        label-for="reg-pwd-input"
                >
                    <b-form-input
                            id="reg-pwd-input"
                            v-model="$v.userDto.password.$model"
                            :state="!$v.userDto.password.$model ? null : !$v.userDto.password.$invalid"
                            class="reg-input"
                            type="password"
                            size="sm"
                            required
                    />
                    <b-form-invalid-feedback id="reg-pwd-feedback" ref="passwordFeedbackContent"
                                             v-bind:class="{ 'auth-anim-shake': $data._errorOutputChecked }"
                                             class="reg-input-feedback"
                    >
                        {{ $data._passwordFeedback }}
                    </b-form-invalid-feedback>
                </b-form-group>
            </b-form-row>
            <div class="reg-policy">
                Some Content......
            </div>
            <b-form-checkbox
                    ref="privacyContent"
                    :state="_checkPrivacy()"
                    v-bind:class="{ 'auth-anim-tada': $data._privacyChecked }"
                    v-model="userDto.privacy"
                    class="reg-privacy-check"
                    value="checked"
                    unchecked-value="unchecked"
                    size="sm"
            >
                I accept the terms and use
            </b-form-checkbox>
            <div>
                <transition name="auth-loading-btn-anim">
                    <b-button v-if="!_isLoadingActive()"
                              class="reg-create-btn"
                              type="submit"
                              variant="dark"
                    >
                        Create
                    </b-button>
                </transition>
                <transition name="auth-loading-img-anim">
                    <loading v-if="_isLoadingActive()"
                             class="reg-loading"
                    />
                </transition>
            </div>
        </b-form>
    </div>
</template>

<script lang="ts">
    import {Component, Prop, Vue} from "vue-property-decorator";
    import {required} from "vuelidate/lib/validators";
    import {Inject} from "vue-inversify-decorator";
    import {ValidationMethod} from "../../../common/decorators/vue-decorators";
    import {InformationService} from "../../localization/service/InformationService";
    import {SecurityService} from "../service/SecurityService";
    import {RegExpValidator} from "../../../common/utils/RegExpValidator";
    import {RestQueryBuilder} from "../../../common/RestQueryBuilder";
    import {storeDispatchEvents} from "../../../constants/StoreDispatchEvents";
    import Loading from "../../loading/Loading.vue";
    import User from "../../../common/model/User";
    import AccountData from "../../../common/model/AccountData";

    @Component({
        name: "registration",
        data: function () {
            return {
                userDto: {
                    login: "",
                    firstName: "",
                    lastName: "",
                    password: "",
                    country: "",
                    email: "",
                    city: "",
                    privacy: "",
                }
            };
        },
        components: {
            Loading
        },
        validations: {
            userDto: {
                login: {required},
                firstName: {required},
                lastName: {},
                password: {required},
                email: {required},
                city: {}
            }
        }
    })
    export default class Registration extends Vue {
        @Prop(Function) readonly onRegConfirmation!: () => void;

        @Inject(InformationService) private readonly _informationService!: InformationService;
        @Inject(RegExpValidator) private readonly _regExpChecker!: RegExpValidator;
        @Inject(SecurityService) private readonly _securityService!: SecurityService;
        @Inject(RestQueryBuilder) private readonly _restQueryBuilder!: RestQueryBuilder;

        //feedback
        private _loginFeedback!: string;
        private _firstNameFeedback!: string;
        private _lastNameFeedback!: string;
        private _cityFeedback!: string;
        private _passwordFeedback!: string;
        private _emailFeedback!: string;

        //non-mandatory inputs
        private _showLastNameInput: boolean = false;
        private _showCityInput: boolean = false;

        //conditions
        private _privacyChecked: boolean = false;
        private _errorOutputChecked: boolean = false;
        private _duplicatedLogin: string[] = [];

        @ValidationMethod("userDto.login")
        private _checkLogin(): boolean {
            this.$data._errorOutputChecked = false;
            let res = true;
            //todo: use localization here
            if (!this._regExpChecker.checkMinMaxSize(this.$v.userDto.login.$model, 4, 12)) {
                this.$data._loginFeedback = "requires 4-12 letters only";
                res = false;
            } else if (!this._regExpChecker.checkLettersNumbersOnly(this.$v.userDto.login.$model, ["en-US"])) {
                this.$data._loginFeedback = "requires english letters and numbers only";
                res = false;
            } else if (this._regExpChecker.checkNumbersOnly(this.$v.userDto.login.$model)) {
                this.$data._loginFeedback = "requires at lease 1 letter";
                res = false;
            } else if (this.$data._duplicatedLogin.includes(this.$v.userDto.login.$model)) {
                this.$data._loginFeedback = "sorry, this name is already existed";
                res = false;
            }
            return res;
        }

        @ValidationMethod("userDto.firstName")
        private checkFirstName(): boolean {
            this.$data._errorOutputChecked = false;
            if (this._regExpChecker.checkNumbersOnly(this.$v.userDto.firstName.$model)) {
                this.$data._firstNameFeedback = "name should have at least 1 letter";
                return false;
            }
            this.$data._showLastNameInput = true;
            return true;
        }

        @ValidationMethod("userDto.lastName")
        private checkLastName(): boolean {
            this.$data._errorOutputChecked = false;
            if (this._regExpChecker.checkNumbersOnly(this.$v.userDto.lastName.$model)) {
                this.$data._lastNameFeedback = "name should have at least 1 letter";
                return false;
            }
            return true;
        }

        @ValidationMethod("userDto.city")
        private checkCity(): boolean {
            this.$data._errorOutputChecked = false;
            if (!this._regExpChecker.checkLettersOnly(this.$v.userDto.city.$model)) {
                this.$data._cityFeedback = "city should contains letters only";
                return false;
            }
            return true;
        }

        @ValidationMethod("userDto.password")
        private checkPassword(): boolean {
            this.$data._errorOutputChecked = false;
            let res = true;
            if (this._securityService.validatePasswordGetErrors(this.$data.userDto.password).length != 0) {
                this.$data._passwordFeedback = "please use more complex password";
                res = false;
            }
            return res;
        }

        @ValidationMethod("userDto.email")
        private checkEmail(): boolean {
            this.$data._errorOutputChecked = false;
            if (!this._regExpChecker.checkEmail(this.$data.userDto.email)) {
                this.$data._emailFeedback = "please use valid email";
                return false;
            }
            return true;
        }

        private _checkCountry(): any {
            if (this.$data.userDto.country && this.$data.userDto.country.length != 0) {
                //enable city input
                this.$data._showCityInput = true;
                return true;
            }
            return null;
        }

        private _isAvailableToSubmit(): boolean {
            return !this.$v.userDto.login.$invalid && !this.$v.userDto.firstName.$invalid
                && (!this.$v.userDto.lastName.$model || !this.$v.userDto.lastName.$invalid)
                && (!this.$v.userDto.city.$model || !this.$v.userDto.city.$invalid)
                && !this.$v.userDto.email.$invalid && !this.$v.userDto.password.$invalid
                && this._checkPrivacy();
        }

        private _checkPrivacy(): boolean {
            return this.$data.userDto.privacy === "checked";
        }

        private _checkUserExists(): void {
            if (!this.$v.userDto.login.$model || this.$v.userDto.login.$invalid) {
                return;
            }
            this.$store.dispatch(storeDispatchEvents.CHECK_USER_EXISTS, {login: this.$v.userDto.login.$model}).then((res: boolean): void => {
                if (res) {
                    this.$data._duplicatedLogin.push(this.$v.userDto.login.$model);
                }
            });
        }

        private _getCountriesAsOptions(): { text: string; value: string }[] {
            let options: { text: string; value: string }[] = [];
            this._informationService.getCountries().forEach((obj: { key: string; name: string }) => {
                options.push({text: obj.name, value: obj.key});
            });
            return options;
        }

        private _createUser(): void {
            if (this._isAvailableToSubmit()) {
                let newUser: User = this._prepareUser();
                this.$store.dispatch(storeDispatchEvents.REGISTER_USER, {user: newUser}).then((): void => {
                    if (this.$props.onRegConfirmation) {
                        this.$props.onRegConfirmation.call([]);
                    }
                });
                return;
            }
            // reset animations
            if (!this._checkPrivacy()) {
                this.$data._privacyChecked = true;
                let privacyContent: any = this.$refs.privacyContent;
                Registration._resetAnimation(privacyContent.$el);
            }
            this.$data._errorOutputChecked = true;
            Registration._resetAnimation(this.$refs.loginFeedbackContent);
            Registration._resetAnimation(this.$refs.fnameFeedbackContent);
            Registration._resetAnimation(this.$refs.lnameFeedbackContent);
            Registration._resetAnimation(this.$refs.cityFeedbackContent);
            Registration._resetAnimation(this.$refs.emailFeedbackContent);
            Registration._resetAnimation(this.$refs.passwordFeedbackContent);
        }

        private static _resetAnimation(content: any): void {
            if (content) {
                content.style.animation = "none";
                content.offsetHeight;
                content.style.animation = null;
            }
        }

        private _prepareUser(): User {
            let newUser: User = new User();
            let accountData: AccountData = newUser.accountData;
            newUser.login = this.$data.userDto.login;
            newUser.password = this.$data.userDto.password;
            // fill user account data
            accountData.firstName = this.$data.userDto.firstName;
            accountData.lastName = this.$data.userDto.lastName;
            accountData.email = this.$data.userDto.email;
            accountData.city = this.$data.userDto.city;
            accountData.country = this.$data.userDto.country;
            return newUser;
        }

        private _isLoadingActive(): boolean {
            return this.$store.getters.isLoading;
        }
    }
</script>

<style scoped lang="css">
    @import "../../../../public/static/css/module/authentication/auth-animations.module.css";
    @import "../../../../public/static/css/module/authentication/component/registration.module.css";
</style>
