html {
    background: linear-gradient(to top, #000000 55%, #241348 100%);
    overflow: paged-y-controls;
}

body {
    background-image: linear-gradient(to top, #000000 55%, #241348 100%);
}

body, html {
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
}
