.auth-loading-btn-anim-enter-active, .auth-loading-btn-anim-leave-active, .auth-loading-img-anim-leave-active {
    transition: opacity .3s;
}

.auth-loading-btn-anim-enter, .auth-loading-btn-anim-leave-to, .auth-loading-img-anim-leave-to {
    opacity: 0;
}
