.auth-anim-tada {
    -webkit-animation-name: auth-effect-tada;
    animation-name: auth-effect-tada;
    background-repeat: no-repeat;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes auth-effect-tada {
    0% {
        -webkit-transform: scale(1);
    }
    30%, 50%, 70%, 90% {
        -webkit-transform: translateX(23px) scale(1.1) rotate(5deg);
    }
    40%, 60%, 80% {
        -webkit-transform: translateX(23px) scale(1.1) rotate(-5deg);
    }
    100% {
        -webkit-transform: scale(1) rotate(0);
    }
}

@keyframes auth-effect-tada {
    0% {
        transform: scale(1);
    }
    30%, 50%, 70%, 90% {
        transform: translateX(23px) scale(1.1) rotate(5deg);
    }
    40%, 60%, 80% {
        transform: translateX(23px) scale(1.1) rotate(-5deg);
    }
    100% {
        transform: scale(1) rotate(0);
    }
}

.auth-anim-shake {
    -webkit-animation-name: auth-effect-shake;
    animation-name: auth-effect-shake;
    background-repeat: no-repeat;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes auth-effect-shake {
    from, to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0) scale(1);
    }
    10%, 30%, 70%, 90% {
        -webkit-transform: translate3d(40px, 0, 0);
        transform: translate3d(40px, 0, 0) scale(1.35);
    }
    40%, 60% {
        -webkit-transform: translate3d(30px, 0, 0);
        transform: translate3d(30px, 0, 0) scale(1.35);
    }
    50% {
        -webkit-transform: translate3d(50px, 0, 0);
        transform: translate3d(50px, 0, 0) scale(1.35);
    }
}

@keyframes auth-effect-shake {
    from, to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0) scale(1);
    }
    10%, 30%, 70%, 90% {
        -webkit-transform: translate3d(40px, 0, 0);
        transform: translate3d(40px, 0, 0) scale(1.35);
    }
    40%, 60% {
        -webkit-transform: translate3d(30px, 0, 0);
        transform: translate3d(30px, 0, 0) scale(1.35);
    }
    50% {
        -webkit-transform: translate3d(50px, 0, 0);
        transform: translate3d(50px, 0, 0) scale(1.35);
    }
}
