<template>
    <div id="application">
        <router-view/>
    </div>
</template>

<script lang="ts">
    import {Component, Vue} from "vue-property-decorator";
    import {Provide} from "vue-inversify-decorator";
    import container from "./config/inversify.config";
    import GameManager from "./module/game/GameManager.vue";

    @Component({
        name: "application",
        components: {
            GameManager
        }
    })
    @Provide(container)
    export default class Application extends Vue {

    }
</script>

<style>
    #application {

    }
</style>
