<template>
    <div id="game-manager">
        <div class="game-manager__top-content">
            <div class="game-manager__info-panel"/>
            <div class="game-manager__menu-panel">
                <menu-navigation-panel/>
            </div>
        </div>
        <div class="game-manager__left-content">
            <div class="game-manager__game-play"/>
            <div class="game-manager__action-bar"/>
        </div>
        <div class="game-manager__right-content">
            <div class="game-manager__user-info"/>
            <div class="game-manager__chat-box"/>
        </div>
    </div>
</template>

<script lang="ts">
    import {Component, Vue} from "vue-property-decorator";
    import MenuNavigationPanel from "./component/MenuNavigationPanel.vue";

    @Component({
        name: "game-manager",
        components: {
            MenuNavigationPanel
        }
    })
    export default class GameManager extends Vue {

    }
</script>

<style lang="scss" scoped>
    $full-width: 1920px;
    $full-height: 1080px;
    $top-content-height: 30px;
    $left-content-width: 1300px;
    $info-panel-width: 1100px;
    $game-play-height: 650px;
    $user-info-height: 500px;

    #game-manager {
        position: fixed;
        width: 100%;
        height: 100%;
        font-size: 0;

        * {
            box-sizing: border-box;
        }
    }

    .game-manager__top-content {
        height: $top-content-height;
        width: $full-width;
        display: block;

        .game-manager__info-panel {
            height: inherit;
            width: $info-panel-width;
            display: inline-block;
            vertical-align: top;
            border: yellow solid 1px;
        }

        .game-manager__menu-panel {
            height: inherit;
            width: calc(#{$full-width} - #{$info-panel-width});
            display: inline-block;
            vertical-align: top;
            border: red solid 1px;
        }
    }

    .game-manager__left-content {
        height: calc(#{$full-width} - #{$top-content-height});
        width: $left-content-width;
        display: inline-block;
        vertical-align: top;

        .game-manager__game-play {
            height: $game-play-height;
            width: inherit;
            border: blue solid 1px;
        }

        .game-manager__action-bar {
            height: calc(#{$full-height} - #{$game-play-height});
            width: inherit;
            border: green solid 1px;
        }
    }

    .game-manager__right-content {
        height: calc(#{$full-height} - #{$top-content-height});
        width: calc(#{$full-width} - #{$left-content-width});
        display: inline-block;
        position: fixed;
        vertical-align: top;

        .game-manager__user-info {
            height: $user-info-height;
            width: inherit;
            border: gray solid 1px;
        }

        .game-manager__chat-box {
            height: calc(#{$full-height} - #{$user-info-height});
            width: inherit;
            border: purple solid 1px;
        }
    }
</style>
