<template>
    <div class="authentication">
        <transition
                @after-leave="_onContentDestroyed"
                name="auth-anim"
        >
            <div v-if="!$data._goGame">
                <div class="auth-inline auth-menu-block">
                    <login-menu
                            v-bind:onLogOptionClicked="_onLoginOptionClicked"
                            v-bind:onRegOptionClicked="_onRegistrationOptionClicked"
                    />
                </div>
                <div class="auth-inline auth-content-block">
                    <transition
                            @after-leave="_onContentDestroyed"
                            name="auth-anim"
                    >
                        <login v-if="$data._showLogin" v-bind:onLoginClicked="_onLoginClicked"/>
                        <registration v-if="$data._showRegistration"
                                      v-bind:onRegConfirmation="_onRegConfirmation"
                        />
                        <email-confirmation v-if="$data._showEmailConfirmation"/>
                    </transition>
                </div>
            </div>
        </transition>
    </div>
</template>

<script lang="ts">
    import {Component, Vue} from "vue-property-decorator";
    import Registration from "./component/Registration.vue";
    import Login from "./component/Login.vue";
    import LoginMenu from "./component/LoginMenu.vue";
    import EmailConfirmation from "./component/EmailConfirmation.vue";
    import {authenticationRouterParams} from "./constants/url/AuthenticationRouterParams";

    @Component({
        name: "authentication",
        components: {
            LoginMenu, Login, Registration, EmailConfirmation
        }
    })
    export default class Authentication extends Vue {
        private _goGame: boolean = false;
        private _showLogin: boolean = false;
        private _showRegistration: boolean = false;
        private _showEmailConfirmation: boolean = false;

        public created(): void {
            this.$data._showLogin = authenticationRouterParams.AUTH_LOG === this.$route.params.type;
            this.$data._showRegistration = authenticationRouterParams.AUTH_REG === this.$route.params.type;
            this.$data._showEmailConfirmation = authenticationRouterParams.AUTH_CONFIRM === this.$route.params.type;
        }

        public beforeRouteUpdate(to: any, from: any, next: any) {
            this.$data._showLogin = false;
            this.$data._showRegistration = false;
            this.$data._showEmailConfirmation = false;
            next();
        }

        private _onContentDestroyed(): void {
            if (this.$data._goGame) {
                this.$router.push("/game");
            } else if (this.$route.params.type === authenticationRouterParams.AUTH_CONFIRM) {
                this.$data._showEmailConfirmation = true;
            } else if (this.$route.params.type === authenticationRouterParams.AUTH_REG) {
                this.$data._showRegistration = true;
            } else if (this.$route.params.type === authenticationRouterParams.AUTH_LOG) {
                this.$data._showLogin = true;
            }
        }

        private _onLoginOptionClicked(): void {
            this.$router.push({name: "authentication-type", params: {type: authenticationRouterParams.AUTH_LOG}});
        }

        private _onRegistrationOptionClicked(): void {
            this.$router.push({name: "authentication-type", params: {type: authenticationRouterParams.AUTH_REG}});
        }

        private _onLoginClicked(confirmation: boolean): void {
            if (confirmation) {
                this._showConfirmationPage();
            } else this.$data._goGame = true;
        }

        private _onRegConfirmation(): void {
            this._showConfirmationPage();
        }

        private _showConfirmationPage(): void {
            this.$store.commit("enableConfirmationPage", true);
            this.$router.push({name: "authentication-type", params: {type: authenticationRouterParams.AUTH_CONFIRM}});
        }
    }
</script>

<style scoped lang="css">
    @import "../../../public/static/css/module/authentication/auth-common.module.css";

    .authentication {
        position: absolute;
        margin-left: 10%;
        top: 50%;
        left: 40%;
        transform: translate(-30%, -250px);
        width: 1250px;
        user-select: none;
    }

    .auth-inline {
        display: inline-block;
    }

    .auth-menu-block {
        width: 315px;
        height: 283px;
        vertical-align: top;
    }

    .auth-content-block {
        width: 900px;
        height: 617px;
        margin-left: 20px;
    }

    .auth-anim-enter-active, .auth-anim-leave-active {
        transition: opacity .2s;
    }

    .auth-anim-enter, .auth-anim-leave-to {
        opacity: 0;
    }
</style>
