<template>
    <div class="service-authentication">
        <transition
                @after-leave="_onContentDestroyed"
                name="sauth-anim"
        >
            <div v-if="$data._showSAuth">
                <b-form
                        @submit.prevent="_onLoginButtonClicked"
                        autocomplete="off"
                >
                    <b-form-input
                            :disabled="_isLoadingActive()"
                            v-model="userDto.login"
                            :state="_errorState()"
                            class="sauth-input"
                            aria-describedby="sauth-feedback"
                            type="text"
                            size="sm"
                            placeholder="Service Login"
                            required
                    />
                    <b-form-input
                            :disabled="_isLoadingActive()"
                            v-model="userDto.password"
                            :state="_errorState()"
                            class="sauth-input"
                            aria-describedby="sauth-feedback"
                            type="password"
                            size="sm"
                            placeholder="Password"
                            required
                    />
                    <b-form-invalid-feedback id="sauth-feedback">
                        {{ $data._errorMessage }}
                    </b-form-invalid-feedback>
                    <transition name="auth-loading-btn-anim">
                        <b-button v-if="!_isLoadingActive()"
                                  class="sauth-button"
                                  type="submit"
                                  variant="dark"
                        >
                            Login
                        </b-button>
                    </transition>
                    <b-button
                            @click="_onCloseButtonClicked"
                            class="sauth-button sauth-back-button"
                            type="button"
                            variant="dark"
                    >
                        Close
                    </b-button>
                </b-form>
                <transition name="auth-loading-img-anim">
                    <loading v-if="_isLoadingActive()"
                             class="login-loading"
                    />
                </transition>
            </div>
        </transition>
    </div>
</template>

<script lang="ts">
    import {Component, Vue} from "vue-property-decorator";
    import Loading from "../loading/Loading.vue";
    import {storeDispatchEvents} from "../../constants/StoreDispatchEvents";

    @Component({
        name: "service-authentication",
        data: function () {
            return {
                userDto: {
                    login: "",
                    password: ""
                }
            };
        },
        components: {
            Loading
        }
    })
    export default class ServiceAuthentication extends Vue {
        private _showSAuth: boolean = true;
        private _errorMessage: string | null = null;
        private _referer: string | null = null;

        private _onContentDestroyed(): void {
            if (this.$data._referer) {
                // redirect to previous page
                window.location.href = this.$data._referer;
            } else {
                this.$router.push({name: "game"});
            }
        }

        private _errorState(): boolean | undefined {
            return this.$data._errorMessage != null ? false : undefined;
        }

        private _onLoginButtonClicked(): void {
            this.$store.dispatch(storeDispatchEvents.USER_SIGN_IN, {
                username: this.$data.userDto.login,
                password: this.$data.userDto.password
            }).then((res: any): void => {
                this.$data._errorMessage = null;
                this.$data._referer = res.headers.referer;
                this.$data._showSAuth = false;
            }).catch((): void => {
                //todo: make localization
                this.$data._errorMessage = "Bad credentials";
            });
        }

        private _isLoadingActive(): boolean {
            return this.$store.getters.isLoading;
        }

        private _onCloseButtonClicked(): void {
            this.$data._showSAuth = false;
        }
    }
</script>

<style scoped>
    .service-authentication {
        position: absolute;
        margin-left: 10%;
        top: 50%;
        left: 40%;
        transform: translate(-30%, -250px);
        width: 250px;
        user-select: none;
    }

    .sauth-input, .sauth-button {
        margin-top: 17px;
    }

    .sauth-input {
        height: 40px;
    }

    .sauth-button {
        width: 120px;
    }

    .sauth-back-button {
        float: right;
    }

    #sauth-feedback {
        position: absolute;
        margin-top: -125px;
        width: 400px;
        font-size: 12px;
    }

    .login-loading {
        top: 131px;
        left: 41px;
    }

    .sauth-anim-leave-active {
        transition: opacity .2s;
    }

    .sauth-anim-leave-to {
        opacity: 0;
    }
</style>
